<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Modify</title>
    <script  src="/script/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#sub").bind('click',function (e) {
                if($("#id").val()== "" || $("#id").val() == 0){
                    $("#form").attr("action","/doAdd").submit();
                    return;
                }
                $("#form").submit();
            });
        })

    </script>
</head>
<body>
    <form th:action="|/doModify|" th:object="${student}" method="post" id="form">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="${student.name}"/></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" th:field="${student.age}"/></td>
           </tr>
        </table>
        <input type="hidden" th:field="${student.id}" id="id"/>
        <input type="submit" id="sub" th:value="提交"/>
        <input type="reset" th:value="重置"/>
    </form>
</body>
</html>